[submodule "src/TrajectoryVAE"]
	path = src/TrajectoryVAE
	url = git@github.com:gamleksi/TrajectoryVAE.git
[submodule "src/AffordanceVAED"]
	path = src/AffordanceVAED
	url = git@github.com:gamleksi/AffordanceVAED.git
